/*===== Fonts start =====*/
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*===== Fonts end =====*/
/*===== Default styles =====*/
*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

a{
	color: inherit;
	text-decoration: none;
}

a:active{
	text-decoration: none;
}

textarea {
	resize: vertical;
}

/*===== Default classes =====*/
.bg-dark-blue {
    background-color: #263238;
}
.bg-orange {
    background-color: #fcb322;
}
.bg-red {
    background-color: #ef6c00;
}

.bg-dark-red {
    background-color: #e74c3c;
}

.bg-green {
    background-color: #95c85a;
}

.bg-light-green {
    background-color: #8bc34a;
}

.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;    
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.text-center {
    text-align: center;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    color: #fff;
    font-size: .8rem;
    line-height: 2.2rem;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}


.logout-btn {
    padding: 0 18px;
}

.login-btn {
    padding: 0 20px;
}

.register-btn {
    padding: 0 14px;
}


/*===== Custom styles start =====*/
/* header start */
.top-header {
    padding: 26px 0;
}

.need-help span {
    color: #546e7a;
    line-height: 1.6rem;
}

.need-help span span {
    color: #e74c3c;
}

.user-controls {
    margin-left: 30px;
}

.user-controls .logout-btn {
    margin-left: 30px;
}

.user-controls .login-btn {
    margin-left: 20px;
    margin: 0 7px 0 20px;
}

.dropdown-item + .dropdown-item {
    margin-left: 16px;
}
.dropdown-control {
    background-color: #f5f5f5;
    width: 34px;
    height: 34px;
    color: #a0a0a0;
    font-size: .93rem;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.user-info-wrap {
    font-size: .93rem;
    line-height: 1rem;
    margin-left: 15px;
}

.user-info-wrap i {
    margin-left: 10px;
    /* font-size: 1.07rem; */
    color: #707070;
}



.user-dropdown-control h6 {
    font-family: 'robotomedium', Helvetica, sans-serif;
    color: #222;
    font-size: .93rem;
    line-height: 1.6rem;
}

.user-dropdown-control span {
    font-family: 'robotobold', Helvetica, sans-serif;
    color: #8bc34a;
}

.notify-count {
    position: absolute;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    font-size: .73rem;
    color: #fff;
    font-family: "open_sanssemibold", Helvetica, sans-serif;
    top: -8px;
    right: -5px;
    text-align: center;
    line-height: 18px;
}
.user-dropdown-control {
    margin-left: 20px;
}
.user-avatar {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.bottom-header .header-nav {
    font-family: 'robotomedium', Helvetica, sans-serif;
    color: #fff;
    font-size: .93rem;
    line-height: 2rem;
    padding: 15px 0;
}

.bottom-header .header-nav a + a {
    margin-left: 40px;
}

/* header end */
/* inner start */
.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url("../img/small-inner-bg.jpg") no-repeat center / cover;
}   

.inner.main-inner {
    padding-top: 150px;
    padding-bottom: 175px;
    background: url("../img/main-inner-bg.jpg") no-repeat center / cover;
}

.inner .inner-title {
    color: #fff;
    line-height: 2rem;
}

.inner h1.inner-main-title {
    font-size: 3.2rem;
    margin-bottom: 30px;
    font-family: 'robotobold', Helvetica, sans-serif;    
}

.inner h3.inner-subtitle {
    font-size: 1.33rem;
    font-family: 'robotomedium', Helvetica, sans-serif;
}

.inner.main-inner h3.inner-subtitle {
    margin-bottom: 50px;
}

.inner.small-inner h3.inner-subtitle {
    margin-bottom: 17px;
}


.search-wrap {
    max-width: 671px;
    margin: 0 auto;
    position: relative;
}
.search-input {
    width: 100%;
    height: 56px;
    background-color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
       -moz-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
            box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
    padding-left: 25px;
    padding-right: 50px;
    font-size: .93rem;
    line-height: 2rem;
    letter-spacing: .05em;
    font-family: 'robotomedium', Helvetica, sans-serif;
}
.search-input::-webkit-input-placeholder { color: #90a4ae; }
.search-input::-moz-placeholder          { color: #90a4ae; } /* Firefox 19+ */
.search-input:-moz-placeholder           { color: #90a4ae; } /* Firefox 18- */
.search-input:-ms-input-placeholder      { color: #90a4ae; }

.search-input-btn {
    background-color: transparent;
    color: #7c939f;
    font-size: 1.33rem;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
/* inner end */
/*===== Custom styles start =====*/