/*===== Fonts start =====*/
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*===== Fonts end =====*/
/*===== Default styles =====*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

a{
	color: inherit;
	text-decoration: none;
}

a:active{
	text-decoration: none;
}

textarea {
	resize: vertical;
}

/*===== Default classes =====*/
.bg-dark-blue {
    background-color: #263238;
}

.bg-orange {
    background-color: #fcb322;
}

.bg-red {
    background-color: #ef6c00;
}

.bg-bright-red {
    background-color: #d32f2f;
}

.bg-dark-red {
    background-color: #e74c3c;
}

.bg-light-red {
    background-color: #e85647;
}

.bg-green {
    background-color: #95c85a;
}

.bg-light-green {
    background-color: #8bc34a;
}

.bg-white {
    background-color: #fff;
}

.bg-light-grey {
    background-color: #f4f6f5;
}

.bg-grey-blue {
    background-color: #546e7a;
}

.bg-dark-grey-blue {
    background-color: #455a64;
}

.bg-light-blue {
    background-color: #64b5f6;
}

.bg-blue {
    background-color: #42a5f5;
}

.bg-dodger-blue {
    background-color: #4f71ce;
}

.bg-violet-blue {
    background-color: #6370b6;
}

.border-grey {
    border: 1px solid #dedede;
}

.ml-auto {
    margin-left: auto;
}
.mr-auto {
    margin-right: auto;
}
.mt-auto {
    margin-top: auto;
}
.mb-auto {
    margin-bottom: auto;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;    
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.text-center {
    text-align: center;
}

/*===== Default components start =====*/
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    color: #fff;
    font-size: .8rem;
    line-height: 2.2rem;
    border-radius: 3px;
}

.xsm-btn {
    padding: 0 11px;
}

.sm-btn {
    padding: 0 14px;
}

.md-btn {
    padding: 0 18px;
}

.lg-btn {
    padding: 0 20px;
}

.xl-btn {
    padding: 0 32px;
}

.submit-btn {
    padding: 0 37px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    line-height: 3.07rem;
    border: 1px solid transparent;
    font-family: 'robotomedium', Helvetica, sans-serif;
}

.aside-btn {
    width: 100%;
    padding: 0;
    color: #fff;
    font-size: inherit;
    line-height: 3rem;
    border-radius: 0;
    font-family: 'robotomedium', Helvetica, sans-serif;
}

.notify-btn {
    border-radius: 0;
    font-family: 'robotobold', Helvetica, sans-serif;
    font-size: .93rem;
    color: #f4f6f5;
}

.breadcrumb {
    padding: 45px 0;
    background-color: inherit;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li a {
    color: #b0bec5;
}

.breadcrumb > li + li::before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}

.breadcrumb > li.active {
    color: #263238;
}

.bordered-title {
    background-color: #fff;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 17px 27px;
    border: 1px solid #dfdfdf;
    margin-top: 52px;
    margin-bottom: 28px;
}

.icon {
    display: inline-block;
}

.head-title {
    font-family: 'robotomedium', Helvetica, sans-serif;
    font-size: 1.6rem;
    padding: 18px 33px;
    border-bottom: 1px solid #d7d7d7;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 0 17px;
	border: 1px solid #dcdcdc;
    background-color: #f9f9f9;
    border-radius: 0;
}

textarea.form-control {
    height: 150px;
}

.aside-section {
    padding: 20px 30px 40px;
}

.aside-section + .aside-section {
    margin-top: 30px;
}

.aside-title {
    padding-bottom: 18px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dde3e8;
    font-family: 'robotobold', Helvetica, sans-serif;
    font-size: 1.33rem;
}

.aside-section .default-chevron-list > li + li {
    margin-top: 20px;
}

.aside-section .default-chevron-list > li > i {
    color: #8bc34a;
    margin-right: 10px;
}

.aside-section .category-item-count {
    color: #90a4ae;
}

.aside-section .card-top-seller + .card-top-seller {
    margin-top: 30px;
}

.aside-section .card-top-seller .card-description {
    padding: 15px 0;
    border-bottom: 0;
}

.aside-section .card-top-seller .card-author-info {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dde3e8;
}

.aside-section .card-top-seller:last-of-type .card-author-info {
    border-bottom: none;
    margin-bottom: 10px;
}

.aside-section .card-item-info .card-title {
    font-family: 'robotobold', Helvetica, sans-serif;
    margin-bottom: 5px;
}

.aside-section .card-description .card-price {
    font-size: 1.07rem;
}

.aside-section .aside-sales {

}


.aside-section .aside-product-author-info .product-author-info {
    margin-left: 14px;
}

.aside-section .aside-product-author-info .product-author-info h5 {
    font-size: 1.2rem;
}

.aside-section .aside-product-author-info .product-author-info a {
    font-size: .87rem;
    color: #707070;
    border: 1px solid #d5d5d5;
    border-radius: 0;
    line-height: 1.73rem;   
}


.aside-section ul.product-author-flags {
    margin-top: 24px;   
}

.card {
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    transition: all .1s ease-in;
    position: relative;
}

.card:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}

.card.hot-product:before {
    content: '\f0e7';
    color: #fff;
    font-family: 'Font Awesome\ 5 Free';
    font-size: 1.2rem;
    font-weight: 900;
    position: absolute;
    z-index: 10;
    top: 10px;
    left: 12px;
    text-align: center;
    line-height: 2rem;
}

.hot-product-tag {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 65px 65px 0 0;
    border-color: #8bc34a transparent transparent transparent;
    position: absolute;
}

.card-img img {
    width: 100%;
}

.card-description {
    padding: 25px 20px;
    border-bottom: 1px solid #e7ecf2;
}

.card-description .card-price {
    font-family: 'robotobold', Helvetica, sans-serif;
    font-size: 1.33rem;
}

.card-item-info .card-title {
    display: block;
    font-family: 'robotomedium', Helvetica, sans-serif;
    font-size: 1.07rem;
    margin-bottom: 10px;

}

.card-item-info .card-category {
    display: block;
    font-size: .93rem;
    color: #8bc34a;
}



.card-author-info {
    padding: 16px 20px;
}

.card-author img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.card-author span {
    font-family: 'robotomedium', Helvetica, sans-serif;
    color: #546e7a;
    font-size: .93rem;
}

.product-rating {
    margin-right: 9px;
}

.product-rating li {
    display: inline-block;
    font-size: .8rem;
    color: #ffa726;
}   

.product-reviews-count {
    font-size: .8rem;
}

.product-reviews-count::before {
    content: '(';
    color: #b0bec5;
}

.product-reviews-count::after {
    content: ')';
    color: #b0bec5;
}

.pagination {
    margin-top: 30px;
}

.pagination > li {
    display: inline-block;
}

.pagination > li > a {
    font-size: 1.07rem;
    font-family: 'robotomedium', Helvetica, sans-serif;
    border: 1px solid transparent;
    color: inherit;
    margin-left: 0;
    padding: 12px 18px;
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    background-color: #fff;
}

.pagination > li > a:hover {
    color: #fff;
    background-color: #e74c3c;
}

.pagination > li > a.active {
    color: #fff;
    background-color: #e74c3c;
}

.pagination > li + li {
    margin-left: 8px;
}

.pagination > li:first-child > a, .pagination > li:last-child > a {
    border-radius: 0px;
} 



@media (max-width: 991px) {
    /* .mobile-aside- */



    .mobile-aside {
        position: absolute;
        z-index: 999;
        left: 0;
        top: 0;
        transition: all .2s ease-in;
    }

    .mobile-aside.left {
        transform: translateX(-100%);
    }

    .mobile-aside.right {
        left: auto;
        right: 0;
        transform: translateX(100%);
    }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, .7); 
        opacity: 0;
        z-index: -1;
    }

    .show-aside .overlay {
        z-index: 998;
        opacity: 1;
    }

    .mobile-aside-toggle {
        display: block;
    }

    .show-aside .mobile-aside.left {
        transform: translateX(0);
    }
}


/*===== Default components end =====*/

/*===== Custom styles start =====*/
/* header start */
.top-header {
    padding: 26px 0;
}

.need-help span {
    color: #546e7a;
    line-height: 1.6rem;
}

.need-help span span {
    color: #e74c3c;
}

.user-controls {
    margin-left: 30px;
}

.user-controls .md-btn {
    margin-left: 30px;
}

.user-controls .lg-btn{
    margin-left: 20px;
    margin: 0 7px 0 20px;
}

.dropdown-item {
    position: relative;
}

.user-dropdown-control {
    position: relative;
    cursor: pointer;

}

.dropdown-item + .dropdown-item {
    margin-left: 16px;
}
.dropdown-control {
    background-color: #f5f5f5;
    width: 34px;
    height: 34px;
    color: #a0a0a0;
    font-size: .93rem;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.dropdown-control[aria-expanded=true] {
    color: #263238;
}

.dropdown-menu {
    position: absolute;
    display: none;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #d3d3d3;
    min-width: 160px;
    right: 0;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
    border-radius: 0;
}

.user-dropdown-control .dropdown-menu.show {
    top: 24px!important;
}

.dropdown-menu.show {
    display: block;
    top: 26px!important;
}


.dropdown-menu.notifications {
    min-width: 270px;
}

.dropdown-menu .dropdown-notify-item {
    padding: 21px 30px 21px 20px;
}

.user-dropdown-control .dropdown-menu ul {
    font-family: 'robotoregular', Helvetica, sans-serif;
    font-size: .8rem;
    color: #546e7a;
    padding: 25px 19px;
}

.user-dropdown-control .default-chevron-list > li + li {
    margin-top: 20px;
}

.user-dropdown-control .default-chevron-list > li > i {
    color: #8bc34a;
    margin-right: 8px;
}


.dropdown-menu .dropdown-notify-item.total-section {
    padding: 17px 16px 9px 16px;
}

.dropdown-menu .dropdown-notify-item .notify-item-avatar img {
    width: 48px;
    height: 48px;
}

.dropdown-menu .dropdown-notify-item + .dropdown-notify-item {
    border-top: 1px solid #e0e0e0;
}


.dropdown-menu .dropdown-notify-item .notify-item-info {
    margin-top: 5px;
    margin-left: 20px;
}

.dropdown-menu .dropdown-notify-item .notify-item-info.total-section-info {
    margin: 0 18px 15px 12px;
}

.dropdown-menu .dropdown-notify-item .notify-item-info h6 {
    color: #84b743;
    font-size: .8rem;
}

.dropdown-menu .dropdown-notify-item .notify-item-info.email-notifications  h6 {
    font-size: .73rem;
}

.dropdown-menu .dropdown-notify-item .notify-item-info.email-notifications  h5.author {
    font-family: 'robotobold', Helvetica, sans-serif;
    font-size: .8rem;
    margin-bottom: 6px;
}

.dropdown-menu .dropdown-notify-item .notify-item-info.cart-notifications  h5.product-name {
    font-family: 'robotomedium', Helvetica, sans-serif;
    margin-bottom: 5px;
}

.dropdown-menu .dropdown-notify-item .notify-item-info.cart-notifications  .price {
    font-family: 'robotomedium', Helvetica, sans-serif;
    color: #000;
    font-size: 1.07rem;
    margin-top: 5px;
    display: inline-block;
}

.dropdown-menu .dropdown-notify-item .notify-item-info.total-section-info .total-price {
    font-family: 'robotobold', Helvetica, sans-serif;
    font-size: 1.07rem;
}


.user-controls .total-section-btn > a {
    margin-left: 0;
}

.user-controls .total-section-btn > a + a {
    margin-left: 6px;
}

.dropdown-menu .dropdown-notify-item .notify-item-info .notify-date {
    color: #707070;
    font-size: .67rem;
}

.dropdown-menu .dropdown-notify-item .notify-item-info.email-notifications .notify-date {
    color: #90a4ae;
}

.dropdown-menu .dropdown-notify-item:hover i {
    color: #ef6c00;
}


.dropdown-menu .dropdown-notify-item i {
    margin-top: 5px;
    font-size: 1.07rem;
    color: #b0bec5;
}

.user-info-wrap {
    font-size: .93rem;
    line-height: 1rem;
    margin-left: 15px;
}

.user-info-wrap i {
    margin-left: 10px;
    /* font-size: 1.07rem; */
    color: #707070;
}

.user-dropdown-control h6 {
    font-family: 'robotomedium', Helvetica, sans-serif;
    color: #222;
    font-size: .93rem;
    line-height: 1.6rem;
}

.user-dropdown-control span.balance {
    font-family: 'robotobold', Helvetica, sans-serif;
    color: #8bc34a;
}

.notify-count {
    position: absolute;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    font-size: .73rem;
    color: #fff;
    font-family: "open_sanssemibold", Helvetica, sans-serif;
    top: -8px;
    right: -5px;
    text-align: center;
    line-height: 18px;
}
.user-dropdown-control {
    margin-left: 20px;
}
.user-avatar {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.bottom-header .header-nav {
    font-family: 'robotomedium', Helvetica, sans-serif;
    color: #fff;
    font-size: .93rem;
    line-height: 2rem;
    padding: 15px 0;
}

.bottom-header .header-nav a + a {
    margin-left: 40px;
}

@media(max-width: 991px) {
    .user-controls {
        width: 100%;
        margin-left: 53px;
        margin-top: 0;
 }
}

/* header end */

/* footer start */
#footer {
    margin-top: 120px;
    padding-top: 115px;
    padding-bottom: 32px;
    color: #b7c3c8;
}

#footer .footer-title {
    font-family: 'robotobold', Helvetica, sans-serif;
    color: #fff;
    font-size: 1.47rem;
    margin-bottom: 30px;
}

#footer .footer-title::after {
    content: '';
    height: 3px;
    width: 50px;
    background-color: #8bc34a;
    display: block;
    margin-top: 25px;
}

#footer .footer-text {
    line-height: 1.6rem;
}


.address-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
}

.address-wrapper > i {
    color: #8bc34a;
    font-size: 1.2rem;
    margin-right: 16px;
}

.address-wrapper > span {
    font-size: .93rem;
    color: #fff;
    font-family: 'latobold', Helvetica, sans-serif;
}

.phone-wrapper > i {
    transform: rotate(90deg);
    color: #8bc34a;
    font-size: 1.2rem;
    margin-right: 16px;
}

.phone-wrapper > span {
    font-size: .93rem;
    color: #fff;
    font-family: 'latobold', Helvetica, sans-serif;
}

#footer .social-nav {
    margin-bottom: 35px;
}

#footer .social-nav > li + li {
    margin-left: 7px;
}

#footer .signup-text {
    color: #fff;
    font-size: 1.33rem;
}

.subscribe-form-wrapper {
    background: linear-gradient(to bottom, #000 0%, #263238 100%);
    padding: 1px;
    margin-top: 15px;
    display: inline-block;
}

.subscribe-form-wrapper #email {
    height: 37px;
    width: 216px;
    background-color: #2f3c43;
    padding: 0 15px;
}

.subscribe-form-wrapper #email::placeholder {
    color: #697378;
    font-size: .93rem;
} 


.subscribe-form-wrapper button {
    padding: 9px 13px;
    background-color: #8bc34a;
    color: #fff;
    font-size: 1.33rem;
    line-height: 1;
}

#footer ul.default-chevron-list > li + li {
    margin-top: 15px;
}

#footer ul.default-chevron-list > li > i {
    color: #8bc34a;
    margin-right: 15px;
}

.copyrights {
    border-top: 1px solid #424d53;
    padding-top: 25px;
    margin-top: 95px;
}

.copyrights .copyrights-text {
    color: #919699;
}



/* footer end */


/* inner start */
.inner.small-inner {
    padding-top: 57px;
    padding-bottom: 67px;
    background: url("../img/small-inner-bg.jpg") no-repeat center / cover;
}   

.inner.main-inner {
    padding-top: 150px;
    padding-bottom: 175px;
    background: url("../img/main-inner-bg.jpg") no-repeat center / cover;
}

.inner .inner-title {
    color: #fff;
    line-height: 2rem;
}

.inner h1.inner-main-title {
    font-size: 3.2rem;
    margin-bottom: 30px;
    font-family: 'robotobold', Helvetica, sans-serif;    
}

.inner h3.inner-subtitle {
    font-size: 1.33rem;
    font-family: 'robotomedium', Helvetica, sans-serif;
}

.inner.main-inner h3.inner-subtitle {
    margin-bottom: 50px;
}

.inner.small-inner h3.inner-subtitle {
    margin-bottom: 17px;
}


.search-wrap {
    max-width: 671px;
    margin: 0 auto;
    position: relative;
}
.search-input {
    width: 100%;
    height: 56px;
    background-color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
       -moz-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
            box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
    padding-left: 25px;
    padding-right: 50px;
    font-size: .93rem;
    line-height: 2rem;
    letter-spacing: .05em;
    font-family: 'robotomedium', Helvetica, sans-serif;
}
.search-input::-webkit-input-placeholder { color: #90a4ae; }
.search-input::-moz-placeholder          { color: #90a4ae; } /* Firefox 19+ */
.search-input:-moz-placeholder           { color: #90a4ae; } /* Firefox 18- */
.search-input:-ms-input-placeholder      { color: #90a4ae; }

.search-input-btn {
    background-color: transparent;
    color: #7c939f;
    font-size: 1.33rem;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
/* inner end */
/* all-items start */
.view-controls {
    padding: 20px;
    margin-bottom: 30px;
    
}

.view-controls .dropdown-sort-by > i {
    font-size: .93rem;
    color: #455a64;
}

.view-controls .sort-by-option {
    display: inline-block;
    margin: 0 10px;
    color: #707070;
    font-size: .93rem;
}

.view-controls .btn-sort-by {
    font-size: 1.2rem;
    color: #707070;
}


.view-controls .change-view {
    font-size: 1.07rem;
}

.view-controls .change-view > a + a {
    margin-left: 14px;
} 

.view-controls .change-view .btn-change-view.active {
    color: #8bc34a;
}

.view-controls .change-view .btn-change-view:not(.active) {
    color: #90a4ae;
}

.view-controls .change-view .btn-change-view:not(.active):hover {
    color: #8bc34a;
}

.all-items-wrap .card {
    margin-bottom: 30px;
}

/* all-items end */
/* tabs with newest and trending products section start  */
.section-wrapper {
    padding-top: 110px;
    padding-bottom: 110px;
}

h2.section-title {
    font-family: 'robotobold', Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 4rem;
    margin-bottom: 55px;
}

.new-items-wrap .nav.nav-pills {
    margin-bottom: 60px;
}

.new-items-wrap .nav.nav-pills > li {
    display: inline-block;
}

.new-items-wrap .nav.nav-pills > li > a {
    font-size: .93rem;
    font-family: 'robotomedium', Helvetica, sans-serif;
    border: 1px solid transparent;
    color: inherit;
    margin-left: 0;
    padding: 12px 21px;
    background-color: #fff;
    border-radius: 0px;
}

.new-items-wrap .nav.nav-pills > li > a:hover {
    color: #fff;
    background-color: #e74c3c;
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
}

.new-items-wrap .nav.nav-pills > li > a.active {
    color: #fff;
    background-color: #e74c3c;
    box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
}

.new-items-wrap .nav.nav-pills > li + li {
    margin-left: 6px;
}

.new-items-wrap .btn {
    line-height: 2.53rem;
    font-size: 1.07rem;
    color: #263238;
    margin-top: 78px;
    box-shadow: 0 1px 3px rgba(204, 216, 228, .75);
}

.new-items-wrap .btn + .btn {
    margin-left: 12px;
}

.trendings-items-wrap .nav.nav-pills {
    margin-top: 65px;
}

.trendings-items-wrap .nav.nav-pills > li {
    display: inline-block;
}

.trendings-items-wrap .nav.nav-pills > li.nav-item > a {
    background: linear-gradient(#b1b1b1 2%, #e8e8e8);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0;
}

.trendings-items-wrap .nav.nav-pills > li > a:hover {
    background: #8bc34a;
}

.trendings-items-wrap .nav.nav-pills > li > a.active {
    background: #8bc34a;
}


.trendings-items-wrap .nav.nav-pills > li + li {
    margin-left: 6px;
}




/* tabs with newest and trending products section end  */
/* Range slider start */
.range-slider-wrap {
    margin-bottom: 45px;
}
/* Range slider end */

/* Upload product Form start */
.form-body {
    padding-top: 40px;
    padding-bottom: 65px;
}

.form-body .row + .row {
    margin-top: 20px;
}

.form-body:last-of-type .row:nth-last-of-type(2) {
    margin-bottom: 42px;
}

.form-body label {
    padding-left: 45px;
    color: #444;
}

.form-body label > sup {
    font-size: 1.6rem;
    color: #8bc34a;
    top: -0.2em;
}

/* Upload product Form end */

/* Product details page start */
.product-banner {
    border: 1px solid #dedede;
    background-color: #fff;
    padding: 16px 19px;
}

.product-banner img {
    width: 100%;
}

.product-info-wrap .product-description {
    margin-bottom: 45px;
}

.product-info-wrap .product-description h5 {
    font-size: 2rem;
    font-family: 'robotomedium', Helvetica, sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}

.product-info-wrap .product-description p {
    color: #707070;
    font-size: 1.07rem;
    line-height: 1.6rem;
}

.product-info-wrap .product-social > a {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}

.product-info-wrap .product-social > a + a {
    margin-left: 3px;
}


.product-info-wrap .product-social > a > i {
    color: #fff;
    line-height: 3.33rem;
    font-size: 1.2rem;
}

 .product-info-wrap .btn.product-btn {
    color: #f4f6f5;
    line-height: 3.33rem;
    font-size: 1.07rem;
    border-radius: 0;
}

.product-info-wrap .btn.product-btn + .btn.product-btn {
    margin-left: 18px;
}

.more-products-wrapper .row + .row {
    margin-top: 28px;
}

.more-products-wrapper .product-preview {
    padding: 19px 17px 10px;
}

.more-products-wrapper .product-preview h5.product-name {
    font-size: .93rem;
    font-family: 'robotomedium', Helvetica, sans-serif;
}

.more-products-wrapper .product-preview h6 {
    font-size: .8rem;
    color: #8bc34a;
    margin-top: 6px;
    margin-bottom: 6px;
}

.more-products-wrapper .product-preview .price {
    font-size: 1.2rem;
    font-family: 'robotobold', Helvetica, sans-serif;
}

/* product tabs start */
.product-info-wrap .product-tabs {
    margin-top: 55px;
}


#productTabContent .tab-pane {
    display: none;
}

#productTabContent .tab-pane.show {
    display: block;
}

#productTabs .nav-item {
    flex-grow: 1;
}

#productTabs .nav-item + .nav-item {
    border-left: 1px solid #dfdfdf;
}

#productTabs .nav-link {
    padding: 20px 10px;
    color: #70838d;
    font-size: 1.07rem;
    text-align: center;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}

#productTabs .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -1px;;
    right: -1px;
    height: 0;
    transition: all .2s ease-in;
}

#productTabs .nav-link.active {
    color: #263238;
    font-family: 'robotomedium', Helvetica, sans-serif;
}

#productTabs .nav-link.active::after {
    height: 3px;
    background-color: #8bc34a;
}

#productTabContent .tab-pane {
    padding: 35px 30px 66px;
}

#productTabContent .default-chevron-list > li {
    color: #707070;
    font-size: 1.07rem;
}

#productTabContent .default-chevron-list > li + li {
    margin-top: 20px;
}

#productTabContent .default-chevron-list + .default-chevron-list {
    margin-left: 35px;
}

#productTabContent .default-chevron-list > li > i {
    color: #93c756;
    margin-right: 10px;
}
/* product tabs end  */

/* Product details page end */
/*===== Custom styles end =====*/
